.DS_Store
.idea
UnityVS.DLC_dev.sln
UnityVS.DLC_dev.v12.suo
Library
Temp
Builds
UserSettings/Layouts
Dissonance_Diagnostics
obj
AndroidProject
Assembly-CSharp-Editor.csproj.FilesWrittenAbsolute.txt
Assembly-CSharp.userprefs
Assembly-CSharp.dll
*.unityproj
*.csproj
*.sln
*.userprefs
*.collabignore
*.vsconfig
*.log
*.dwlt
.vs/